ul {

    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    background-color:white;
    width: 50%;

}

li {

    float: left;

}

li a {

    display: block;
    color: blue;
    background-color: lightcyan;
    font-weight: bold;
    text-align: center;
    padding: 2px 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-radius: 8px;

}

li a:hover:not(.active) {

    background-color: darkblue;
    color: blue;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

img.imgm {

    display: block;
    margin-left: 120px;
    width: 66%;

}

img.left {

    float: right;

}

td.middle {
    display: block;
    margin-left: 120px;
    width: 66%;
}

p.center {
    text-align: center;
    color: blue;
    font-size: 17px;
}

p.aside {
    text-align: right;
    color: blue;
}

p.bcolor {
    background-color: cyan;
}

footer {
    background-color: cyan;
}

iframe.fixmap {
    margin-left: 33%
}

img.fiximg {
    margin-left: 22%;
}