ul {

    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    background-color:white;
    width: 50%;

}

li {

    float: left;

}

li a {

    display: block;
    color: blue;
    background-color: lightcyan;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}

li a:hover:not(.active) {

    background-color: lightcyan;
    color: blue;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

img.imgm {

    display: block;
    margin-left: 120px;
    width: 66%;

}

img.left {

    float: right;

}

td.middle {
    display: block;
    margin-left: 120px;
    width: 66%;
}

p.center {
    text-align: center;
    color: blue;
}

p.bcolor {
    background-color: cyan;
}

iframe {
    margin: 0 auto;
}